absl-py==1.0.0
bleach==1.5.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
dataclasses==0.8
Flask==2.0.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
h5py==2.10.0
html5lib==0.9999999
idna==3.3
importlib-metadata==4.8.3
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
Keras==2.2.1
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
Markdown==3.3.6
MarkupSafe==2.0.1
numpy==1.19.5
opencv-python==4.5.4.60
Pillow==8.4.0
protobuf==3.19.1
pycparser==2.21
PyYAML==6.0
requests==2.26.0
scipy==1.5.4
six==1.16.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
